<h1>{{caption}}</h1>
<p>
  As you delve into the world of Node.js and Express, you'll discover a powerful
  combination that empowers you to build fast, scalable, and feature-rich web
  applications. Whether you're a beginner or an experienced developer, the
  knowledge gained from mastering these technologies will undoubtedly elevate
  your skills in the ever-evolving field of web development. Happy coding!
</p>
<!-- target image in public folder which is under static public path relative to /home  -->
<img src="home/images/NodeJs.png" alt="NodeJs" width="640px" height="auto" />