<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    {{{body}}}
  </body>
  <!-- target css file in public folder which is under static public path relative to /home  -->
  <footer>
    <link rel="stylesheet" href="home/css/style.css" />
  </footer>
</html>